General Styling body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: $primary-font-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}
