// utilities
.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
  // border: 1px solid red;
}

.lead {
  color: $secondary-font-color;
  font-size: 1.3rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  // min-width: 400px;
}

.secondary-text {
  color: $secondary-font-color;
  font-size: 1rem;
  line-height: 1.2;
}

.text-center {
  text-align: center;
}

// padding

.py {
  &-1 {
    padding: 1rem 0rem;
  }
  &-2 {
    padding: 2rem 0rem;
  }
  &-3 {
    padding: 3rem 0rem;
  }
  &-4 {
    padding: 4rem 0rem;
  }
}

// margin
.my {
  &-1 {
    margin: 1rem 0rem;
  }
  &-2 {
    margin: 2rem 0rem;
  }
  &-3 {
    margin: 3rem 0rem;
  }
  &-4 {
    margin: 4rem 0rem;
  }
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  // text-transform: uppercase;
}

//  buttons

%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn {
  &-primary {
    @extend %btn-shared;
    background-color: $primary-color;
    transition: opacity 0.7s ease-in-out;
  }
  &-primary:hover {
    opacity: 0.7;
  }
}

.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}

.container-center {
  max-width: 50vw;
  margin: auto;
}
